<!DOCTYPE html>
<html>
	<head>
		<title>Queryl | Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<link href="css/style.css" rel="stylesheet">
		<script>
  		$(function openEditInfo() {
    			$( "#edit-info-dialog" ).dialog({
					modal: true,
      				autoOpen: false,
					resizable: false,
					
					draggable: false
    			});
				$( "#linked-accounts-dialog" ).dialog({
					modal: true,
      				autoOpen: false,	
					resizable: false,
          
          width: 500,
					
					draggable: false
    			});
				$( "#confirmation-dialog" ).dialog({
					modal: true,
      				autoOpen: false,
					resizable: false,
					draggable: false
    			});
				$( "#result-dialog" ).dialog({
					modal: true,
      				autoOpen: false,
					resizable: false,
					draggable: false,
					width:525
    			});
				$( "#profile-dialog" ).dialog({
					modal: true,
      				autoOpen: false,
					resizable: false,
					draggable: false
    			});
				
  		});
  		</script>
	</head>
	<body>
    
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '518326451580125',                        // App ID from the app dashboard
          channelUrl : '/channel.html', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });
    
        // Additional initialization code such as adding Event Listeners goes here
      };
    
      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
      
        FB.ui(
        {
          method: 'friends',
          name: 'Facebook Dialogs',
          link: 'https://developers.facebook.com/docs/dialogs/',
          picture: 'http://fbrell.com/f8.jpg',
          caption: 'Reference Documentation',
          description: 'Dialogs provide a simple, consistent interface for applications to interface with users.'
        },
        function(response) {
          if (response && response.post_id) {
            alert('Post was published.');
          } else {
            alert('Post was not published.');
          }
        }
      );
    </script>
		
		<div class="container-fluid">
			<div class="span12 row-fluid">
			<div class="span10">
				</br>
        <a href="home"><img src="img/logo.png"></a>
			</div>
			<div id="menu-box" class="span2" align="left">
				<div class="dropdown" align="right">
  					<button style="margin-right:30px;" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    						Manage <span class="caret"></span>
  					</button>
  					<ul class="dropdown-menu" role="menu" align="left">
    						<li><a onclick="$( '#linked-accounts-dialog').dialog('open');" href="javascript:void(0);">Linked Accounts</a></li>
    						<li><a onclick="$( '#edit-info-dialog').dialog('open');" href="javascript:void(0);">Account Settings</a></li>
    						<li class="divider"></li>
    						<li><a href="#">Logout</a></li>
  					</ul>
				</div>
			</div>
		</div>
		</div>
		<div class="container-fluid">
			<div id="vert-center">
				<div id="icon-list">
					<img src="img/facebook.png">
					<img src="img/twitter.png">
					<img src="img/google+.png">
				</div>
				<div id="search-box">
					<input type="text" placeholder="Search for someone, anyone" name="query">
          <button class="btn btn-cust" onClick="$('#result-dialog').dialog('open');" href="javascript:void(0);">Find</button>
				</div>
			</div>
		</div>
		<div id="edit-info-dialog" title="">
			<div id="dialog">
				<center>	
				<h4>Edit Account Information</h5>
				</center>
				<div class="row-fluid">
				<div class="span2"></div>
				<div class="span8">
					Name:<input style="width:95%;" placeholder="Name" type="text" name="name"><br>
					Email:<input style="width:95%;" placeholder="Email" type="text" name="email"><br>
					<h5> Change Password </h5>
					Current:<input style="width:95%;" placeholder="Current" type="text" name="new"><br>
					New:<input style="width:95%;" placeholder="New" type="text" name="new"><br>
					Confirm:<input style="width:95%;" placeholder="Confirm" type="text" name="confirm">
				</div>
				<div class="span1"></div>
				
			</div>
				<div class="row-fluid">
					<div class="span7"></div>
					<div class="span2">
						<a href="#">Save</a>
					</div>
					<div class="span2"><a onclick="$( '#edit-info-dialog').dialog('close');" href="javascript:void(0);">Cancel</a></div>
				</div>
			</div>
		</div>
		<div id="result-dialog">
			<div id="dialog">
		<div class="container-fluid">
		<div class="row-fluid">

			<div class="span2"></div>
			<center><h4>Results for "Chen"</h4></center>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<table align="left" cellpadding="6">
						<tr>
							<td><img src="img/me.png"></td>
              <td align="right"><a onclick="$( '#profile-dialog').dialog('open');" href="javascript:void(0);"><img src="img/facebook.png"><img src="img/twitter.png"></a></td>
							<td><h4>Clark Chen</h4></td>
						</tr>
						<tr>
							<td><img src="img/me.png"></td>

              <td align="right"><a onclick="$( '#profile-dialog').dialog('open');" href="javascript:void(0);"><img src="img/google+.png"><img src="img/facebook.png"><img src="img/twitter.png"></a></td>
							<td><h4>Chenhao Yang</h4></td>						</tr>
					</table>
				</div>

			<div class="span11" align="right"><a onclick="$( '#result-dialog').dialog('close');" href="javascript:void(0);">Close</a></div>
				</div>

				
			</div>

		</div>
	</div>
	
	<!-- Profile Dialog -->
		<div id="profile-dialog" title="">
			<div id="dialog">
				<div class="row-fluid">
					<div style ="text-align:center"> <h3>Chenhao Yang</h3> </div>
				</div>
				<div class="row-fluid">
          <div class="span3 offset1">
					<a href="https://twitter.com/ChenhaoYang1" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @ChenhaoYang1</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="span4 offset1">
            <a href="http://facebook.com/ChenhaoYang.71"> <img src="img/facebook_friend_button.png" width="100px" height="50px"> </a>
          </div>
            <!-- Place this code where you want the badge to render. -->
          <div class="span2 offset1">
          <a href="https://plus.google.com/104583566474948405907?prsrc=3"
             rel="publisher" target="_top" style="text-decoration:none;">
          <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
          </a>
          </div>
				</div>
      <br>
				<div class="row-fluid">
					<div class="span5 offset6" align="right">
						<a onclick="$( '#profile-dialog').dialog('close');" href="javascript:void(0);">Return to results</a> <!-- Return to search results dialog -->
					</div>
				</div>
			</div>
		</div>
	
		</div>
		<!-- Linked Accounts Dialog -->
		<div id="linked-accounts-dialog" title="">
			<div id="dialog">
				<div class="row-fluid">
					<div class = "span8 offset1"> <h5>Linked Accounts</h5> <br></div>
					
				</div>
				<div class="row-fluid">
					<div class = "span1"></div>
					<div class = "span1"> <img src="img/FB-logo-29.png"> </div>
          <div class = "span7"> <b> Facebook: <%= User.find(2).facebook%> </b> </div>
					<div class = "span2" align="right"><a onclick="$( '#confirmation-dialog').dialog('open');" href="javascript:void(0);"><img src="img/black-x.png"></a></div>
				</div>
				<div class="row-fluid">
					<div class = "span1"></div>
					<div class = "span1"> <img src="img/Twitter-logo-29.png"> </div>
					<div class = "span7"> <b> Twitter: <%= User.find(2).twitter %> </b> </div>
					<div class = "span2" align="right"><a onclick="$( '#confirmation-dialog').dialog('open');" href="javascript:void(0);"><img src="img/black-x.png"></a></div>
					<div class="span1"></div>
				</div>
				<div class="row-fluid">
					<div class = "span1 offset1"> <img src="img/Google+-logo-108.png"> </div>
					<div class = "span7"> <b> Google+: <%= User.find(2).google %> </b> </div>
					<div class = "span2" align="right"><a onclick="$( '#confirmation-dialog').dialog('open');" href="javascript:void(0);"><img src="img/black-x.png"></a></div> <br>
					<div class="span1"></div>
				</div>
				<div class="row-fluid">
					<div class="span2 offset9" align="right">
						<a onclick="$( '#linked-accounts-dialog').dialog('close');" href="javascript:void(0);">Close</a>
					</div>
				</div>
			</div>
		</div>
		
		<div id="confirmation-dialog" title="">
      <div id="dialog"> 
				<center><h5>Are you sure you want to remove variable account? </h5></center>
				
				<div class="row-fluid">
					<div class="span7"></div>
					<div class="span2">
						<a href="session_end">Yes</a>
					</div>
					<div class="span2"><a onclick="$( '#confirmation-dialog').dialog('close');" href="javascript:void(0);">No</a></div>
				</div>
        </div> 
		</div>
		
	</body>
</html>